.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.likeBtn{
  cursor: pointer
}
.verticalCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: transalate(50%, 50%)
}

